<%- include('../partials/header') %>
<section id="show-page">
    <div>airline: </div>
    <div><%= flight.airline %></div>
    <div>flight Number: </div>
    <div><%= flight.flightNo %></div>
    
  <div>departs: </div>
  <div><%= flight.departs  %></div>
</section>
  
  <br><h2>destinations</h2>
  <form id="add-destination-form" method="POST"
    action="/flights/<%= flight._id %>/destinations">
    <label>airport:</label>
    <select name="airport">    
      <option value="AUS">AUS</option>
     <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
    
    
    <select>
    <label>arrival</label>
    <input type="datetime-local" name="arrival" value="2023-06-12T19:30">
    </select>
   <input type="submit" value="Add Destination">
  </form>



  <% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>airport</th>
          <th>arrival</th>
         
        </tr>
      </thead>
      <tbody>
  
  <% flight.destinations .forEach(function(r) { %>
    <tr>
      <!-- .toLocaleDateString() provides a more friendly date format -->
      
      <td><%= r.airport %></td>
      <td><%= r.arrival %></td>
    </tr>
  <% }); %>
</tbody>
</table>
<% } else { %>
<h5>No Destination Yet</h5>
<% } %>

<!-- ticket part -->



<br><h4><strong>Tickets</strong></h4>
<table>
  <thead>
    <tr>
      
    <td> seat </td>
    <td> price </td>
    <td> flight </td>
      
    </tr>
  </thead>
  <tbody>


   
    <% tickets.forEach(function(t) { %>
      <tr>
        <!-- .toLocaleDateString() provides a more friendly date format -->
        
        <td><%= t.seat %></td>
        <td><%= t.price %></td>
        <td><%= t.flight %></td>
      </tr>
    <% }); %>
    </tbody>
</table>


<% if (tickets.length===0) { %>
  <p> no tickets available for the flight</p>
 
<% } %>
 
  <!-- </select>
  <button type="submit">Add to Cast</button> -->
  <a href="/flights/<%= flight._id %>/tickets/new" >Create a new ticket</a>



<%- include('../partials/footer') %>